[user]
	name = Robert Suijker
	email = robert.suijker@gmail.com

[safe]
	directory = /home/rsuijker/work/codec_firmware_root
	directory = /home/rsuijker/work/codec_firmware_root/.git
	directory = /home/rsuijker/work/codec_firmware_root/sources/firmware
	directory = /home/rsuijker/work/cfr_hardknott
	directory = /home/rsuijker/work/cfr_hardknott/.git
	directory = /home/rsuijker/work/_codec_firmware_root

[color]
	ui = auto

[pull]
	rebase = true

[merge]
	conflictStyle = zdiff3
