[user]
	name = Robert Suijker
	email = robert.suijker@gmail.com

[color]
	ui = auto

[pull]
	rebase = true

[merge]
	tool = p4merge

[difftool "difftastic"]
    # See `man git-difftool` for a description of MERGED, LOCAL and REMOTE.
    cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[difftool]
    # Run the difftool immediately, don't ask 'are you sure' each time.
    prompt = false

[pager]
    # Use a pager if the difftool output is larger than one screenful,
    # consistent with the behaviour of `git diff`.
    difftool = true

[diff]
    # Set difftastic as the default difftool, so we don't need to specify
    # `-t difftastic` every time.
    tool = difftastic

[diff]
    external = difft

[alias]
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    b = branch
    ba = branch -a
    # list branches per author
    bo = "!for branch in $(git branch -r | grep -v HEAD); do echo -e $(git show --format='%an @ %ai %ar' $branch | head -n1) \\t $branch; done | sort -r"

    co = checkout
    coi = !git checkout $(git branch | fzf)
    coia = !git checkout $(git branch -a | fzf)
    cob = checkout -b

    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff


[fetch]
    prune = true

[includeIf "gitdir:~/work/"]
    path = "~/.gitconfig_work"
[safe]
	directory = /home/rsuijker/work/codec_firmware_root
