[user]
	name = Robert Suijker
	email = robert.suijker@gmail.com

[color]
	ui = auto

[pull]
	rebase = true

[merge]
	conflictStyle = zdiff3
	tool = p4merge

[diff]
	tool = p4merge

[alias]
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    b = branch
    ba = branch -a
    # list branches per author
    bo = "!for branch in $(git branch -r | grep -v HEAD); do echo -e $(git show --format='%an @ %ai %ar' $branch | head -n1) \\t $branch; done | sort -r"

    co = checkout
    coi = !git checkout $(git branch | fzf)
    coia = !git checkout $(git branch -a | fzf)
    cob = checkout -b

[fetch]
    prune = true

[includeIf "gitdir:~/work/"]
    path = "~/.gitconfig_work"
